.questions {
    background-color: $off-white;
    border-left: 5px solid $blue;
    width: 95%;
    margin: $lg auto 0 auto;
    padding: $sm $md;

    h2 {
        text-align: center;
        font-weight: lighter;
        margin: auto !important;
    }

    h4 {
        text-align: center;
        font-weight: lighter;
        margin: auto !important;
    }

    .lifeline-container {
        display: flex;
        justify-content: space-between;

    }

    .lifeline {
        position: relative;
        top: -3px;
    }

    .image {
        display: table;
        clear: both;
        text-align: center;
        margin: 1em auto;
    }


    .image-style-align-left {
        float: left;
        margin-right: 1.5em;
    }

    .image-style-align-center {
        margin-left: auto;
        margin-right: auto;
    }

    .image-style-align-right {
        float: right;
        margin-left: 1.5em;
    }

    h5 {
        font-size: 1.2rem;
        margin-bottom: $lg;
        line-height: 1.5rem;
    }

    .options-container {
        display: inline-block;
        width: 50%;
    }

    .option {
        background-color: $blue;
        border-radius: $button-radius;
        color: $white;
        cursor: pointer;
        margin: $md auto;
        padding: $normal;
        transition: 0.3s linear all;
        text-align: center;
        width: 90%;
    }

    .option:hover {
        background-color: darken($blue, 20%);
    }

}

.button-container {
    white-space: nowrap;
    display: inline-block;
    margin: 0 auto $sm auto;
    width: 80%;
}

.button-container button {
    border: none;
    color: $off-white;
    cursor: pointer;
    margin-right: $md;
    padding: $xs $sm;
    margin-top: 0px;
}

// .button-container button:first-child{
//     background-color: darken($blue, 10%);
//     box-shadow: $shadow;
//     transition: 0.2s linear all;
// }

// .button-container button:first-child:hover{
//     background-color: darken($blue, 20%);
//     box-shadow: $shadow;
//     transition: 0.2s linear all;
// }

// .button-container button:nth-child(2){
//     background-color: $green;
//     box-shadow: $shadow;
//     transition: 0.2s linear all;
// }

// .button-container button:nth-child(2):hover{
//     background-color: darken($green, 10%);
//     box-shadow: $shadow;
//     transition: 0.2s linear all;
// }

// .button-container button:last-child{
//     background-color: $red;
//     box-shadow: $shadow;
//     transition: 0.2s linear all;
// }

// .button-container button:last-child:hover{
//     background-color: darken($red, 10%);
//     box-shadow: $shadow;
//     transition: 0.2s linear all;
// }


.button-container button:first-child {
    background-color: darken($red, 10%);
    box-shadow: $shadow;
    transition: 0.2s linear all;
}

.button-container button:first-child:hover {
    background-color: darken($red, 20%);
    box-shadow: $shadow;
    transition: 0.2s linear all;
}

.button-container button:nth-child(2) {
    background-color: $green;
    box-shadow: $shadow;
    transition: 0.2s linear all;
}

.button-container button:nth-child(2):hover {
    background-color: darken($green, 10%);
    box-shadow: $shadow;
    transition: 0.2s linear all;
}

.space-flex {
    display: flex;
    justify-content: space-between;

}

.timer {
    position: relative;
    top: -4px;
}

.scrollBar {
    display: block;
    border: 1px solid lightcyan;
    padding: 5px;
    height: 20rem;
    overflow: auto;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    text-align: justify;
}

.hide {
    display: block;
}

.extra {
    background-color: yellow;
    font-size: 14px;
}

.modal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

#myImage {
    width: 100%;
    height: auto;
    margin: 0 1rem;
}

#myMedia {
    width: 100%;
    height: auto;
    margin: 0 1rem;
}

@media (max-width: 768px) {
    #questions {
        padding: 0 $normal;
        width: 100%;
        height: 100%;
    }
}